body {
    margin: 0;
    padding: 0;
    height: 100vh;
}



.menu {
    position: fixed;
    /* Fixa no topo */
    top: 0;
    /* Distância do topo */
    left: 3vh;
    margin-top: 1%;
    width: 95%;
    height: 50px;
    /* Ocupa a largura total */
    background-color:rgba(71, 71, 71, 0.797);
    color: white;
    padding: 15px;
    padding-right: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* Garante que fique acima de outros elementos */
    display: flex;
    justify-content: space-between;
    box-shadow: none;
    border-radius: 10px;
}


.menu img {
    width: 16%;
    height: 90px;
    margin-top: -3vh;
}


.btn_login {
    border: none;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(25, 114, 230);
    width: 110px;
    display: flex;
    margin-top: 1vh;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: large;
    margin-right: 30px;
    display: flex;

}

.btn_login a {
    text-decoration: none;
    color: white;
}

.btn_login:hover {
    background-color: darkblue;
    border-color: lightblue;
    cursor: pointer;
}

.btn_login:active {
    background-color: navy;
    /* Ainda mais escuro ao clicar */
    transform: scale(0.97);
    /* Leve afundada ao clicar */
}
