body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../images/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.menu {
    position: fixed;
    top: 0;
    margin: 1%;
    width: 95%;
    /* AUMENTAR A ALTURA AQUI */
    height: 80px;
    /* Experimente 80px, 90px ou outro valor */
    background-color: rgba(71, 71, 71, 0.797);
    color: white;
    padding: 0 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Mantém tudo centralizado verticalmente */
    box-shadow: none;
    border-radius: 10px;
}

.logo {
    /* Ajuste a altura se quiser que o brasão fique maior também */
    height: 100%;
    /* Exemplo: Aumentado para 65px */
    width: auto;
}

.harryCentro {
    /* AUMENTAR A ALTURA AQUI, PROPORCIONAL AO MENU */
    height: 300%;
    /* Exemplo: Aumentado para 70px (um pouco menor que a altura do menu) */
    width: auto;
}


.btn_login {
    border: none;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(25, 114, 230);
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Pode aumentar a altura do botão se quiser */
    height: 45px;
    /* Exemplo: Aumentado para 45px */
    font-size: large;
    margin-right: 15px;
}

.btn_login a {
    text-decoration: none;
    color: white;
}

.btn_login:hover {
    background-color: darkblue;
    border-color: lightblue;
    cursor: pointer;
}

.btn_login:active {
    background-color: navy;
    transform: scale(0.97);
}


.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh;
    margin-left: -10px;
}

.div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15%;
    height: 30vh;
    background-color: rgba(202, 181, 156, 0.897);
    border:solid 4px ;
    border-color: black;
    border-radius: 10px;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
    padding: 10%;

}
.div2 h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: black;
}
.div2 p{
    font-size: 1.2em;
    margin-bottom: 20px;
    color: black;
}

